// ! utils

@use 'variables' as va
@use 'mixins' as mx

// ! reset

*
  padding: 0
  margin: 0

body
  background-color: va.$dark-bg

// ! generic class

  // * margins, paddings

.p-1
  padding: 1em

.mb-1
  margin-bottom: 1em

.mr-1
  margin-right: 1em

.ml-1
  margin-left: 1em

  // * box, display, text-align, border-radius

.br
  border-radius: 7px

.t-center
  text-align: center

.box
  box-sizing: border-box

.d-f
  display: flex
  flex-wrap: wrap

.d-n
  display: none

.content-form
  .input.erro
    border-bottom-color: va.$erro

// ! styles

.erro-content
  @include mx.alignCenter
  top: 35%
  background-color: va.$erro
  text-transform: uppercase
  width: min(500px, 70%)
  margin: 0 auto

.content
  @include mx.alignCenter
  width: min(800px, 92%)
  background: rgba(255,255,255, .3)
  justify-content: center

  &-form
    width: min(410px, 100%)
    align-self: center

    .input
      @include mx.inputReset(none)
      font-size: 1em
      display: block
      width: 100%
      padding: .5em
      border-bottom: 2px solid va.$white-light
      transition: border-bottom-color .2s ease
      color: va.$white

      &::placeholder
        color: va.$white-light

      &:focus
        border-bottom-color: va.$white

    .btn
      @include mx.btnReset(va.$green, va.$green-dark)
      width: 90%
      padding: .7em

  &-qrImage
    text-align: center

    .img
      width: clamp(15em, 40vw, 20em)
